/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');


/* CUSTOM CSS */

:root {
    --header-height: 3.5rem;

    /* COLORS */

    --hue: 230;
    --first-color: hsl(var(--hue), 55%, 55%);
    --first-color-light: hsl(var(--hue), 55%, 65%);
    --first-color-alt: hsl(var(--hue), 50%, 50%);
    --title-color: hsl(var(--hue), 30%, 95%);
    --text-color: hsl(var(--hue), 20%, 70%);
    --text-color-light: hsl(var(--hue), 20%, 80%);
    --body-color: hsl(var(--hue), 40%, 16%);
    --container-color: hsl(var(--hue), 40%, 20%);
    --text-color-alt: rgb(247, 232, 252);

    /* FONT TYPES AND  TYPOGRAPHY */

    --body-font: 'Syne', sans-serif;
    --biggest-font-size: 3rem;
    --big-font-size: 1.5rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;

    /* FONT WEIGHT */
    --font-regular: 400;
    --font-semi-bold: 600;
    --font-bold: 700;
    --font-bolder: 900;

    /* Z-INDEX */
    --z-tooltip: 10;
    --z-fixed: 100;
}

/* RESPONSIVE TYPOGRAPHY */
@media screen and (min-width: 1024px) {
    :root {
        --biggest-font-size: 5.5rem;
        --big-font-size: 2.75rem;
        --h11-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1.125rem;
        --small-font-size: .875rem;
    }
}

/* BASE */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
body,
button,
input,
textarea {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body {
    background-color: var(--body-color);
    color: var(--text-color);
}

input,
button,
textarea {
    border: none;
    outline: none;
}

h1, h2, h3 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

p {
    line-height: 130%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}


/* REUSABLE CSS CLASSES */

.container {
    max-width: 1120px;
    margin-inline: 3rem;
    margin: 0 auto;
}




.section__title {
    text-align: center;
    font-size: var(--h1-font-size);
    font-weight: var(--font-bold);
    margin-bottom: 2rem;
} 

.main {
    overflow: hidden;

    background-size: cover;
    width: 100%;
    height: 95vh;
}

span {
    font: var(--big-font-size);
    font-weight: var(--font-bolder);
}

/* HEADER & NAV */

.navbar-brand {
    color: var(--title-color);
    font-size: var(--normal-font-size);
    font-weight: var(--font-bold);
    background-color: var(--first-color-alt);
    padding: 12px;
    border-radius: 90px;
    
}

/* HEADER & NAV */
.navbar {
    background-color: var(--container-color);
    padding: 1rem 0;
    
}

.navbar-nav {
    gap: 1.5rem;
    margin-inline-end: 6rem;

}

.nav-link {
    color: var(--text-color);
    font-weight: var(--font-semi-bold);
    transition: color 0.5s;

}

.nav-link:hover {
    color: var(--first-color);
}

.nav-link.active {
    color: var(--first-color);
}

.navbar-toggler-icon {
    background-color: var(--text-color);
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}


/* MAIN SECTION */
span.fname {
    font-size: var(--biggest-font-size);
    font-weight: var(--font-bold);
   
}

.main h6 {
    font-size: var(--h3-font-size);
    text-transform: uppercase;
    line-height: 1;
    border-bottom: 3px var(--first-color) solid;
    width: 10%;
}

.main .bt1 {
    background-color: var(--first-color-light);

}

.main .bt1:hover,
.btn1:hover {
    border: 2px var(--first-color-light) solid;

}

.main .bt2 {
    background-color: var(--first-color-alt);
}

.main .bt1,
.main .bt2,
.btn1,
.btn2{
    height: 50px;
    width: 138px;
    color: var(--title-color);
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi-bold);
    outline: none;
    border: none;
    border-radius: 5px;

}

.main .bt2:hover,
.btn2:hover {
    border: 2px var(--first-color-alt) solid;
}

.main .bt1:hover,
.main .bt2:hover,
.btn1:hover,
.btn2:hover {
    transform: scale(1.05);
    transition: 0.5s;
    background-color: var(--hue);
}


/* ABOUT SECTION */
.about h2 {
    font-size: var(--h1-font-size);
    font-weight: var(--font-bolder);
}



@keyframes load1 {
    0% {
        width: 0%;
    }
    100% {
        width: 95%;
    }
}

.btn1 {
    background-color: var(--first-color-light);
}

.btn2 {
    background-color: var(--first-color-alt);
}


/* SERVICE SECTION */

.services {
    background-color: var(--container-color);
}

.card,
.card-light {
    border: none;
    outline: none;
    border-radius: 16px;
    cursor: pointer;
    box-shadow: -15px 6px 11px -4px rgba(3,3,3,0.37);
    -webkit-box-shadow: -15px 6px 11px -4px rgba(3,3,3,0.37);
    -moz-box-shadow: -15px 6px 11px -4px rgba(3,3,3,0.37);
}

.card:hover,
.card-light:hover {
    transform: scale(1.05);
    transition: 0.05s;
    
}
#card-img {
    transform-style: preserve-3d;
    perspective: 1000px;
    transition: transform 1s ease;
    border: 1px solid var(--first-color);
    
}

#card-img:hover {
    transform: rotateY(10deg) scale(1.05);
}

.card {
    background-color: var(--first-color);
    
}

.card-light {
    background-color: var(--first-color-light);
}

#card-img {
    background-color: var(--hue);
    border-radius: 16px;
}

.card.card-light p {
    color: var(--text-color-light);
}

.card p {
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--text-color);

}

.circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--first-color-light);
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 12px;
    font-size: 30px;
}

.contact .circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--first-color-light);
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 12px;
    font-size: 15px;
}




.card:hover .circle {
    background-color: var(--first-color-alt);
    color: white;
    transition: 0.3s;

}

.circle:hover {
    transform: scale(1.05);
    transition: 2s;

}

.card-light .circle {
    background-color: var(--first-color);
}


.stack-card {
    background-color: var(--hue);
    border-radius: 16px;
    padding: 1rem;
    margin-bottom: 2rem;
    border: 1px var(--first-color) solid;
    
}

.stack-head{
    font-size: 1.5rem;
    color: var(--first-color-light);
 }

.tech {
    border-radius: 50%;
    background-color: var(--hue);
    border: 1px var(--first-color) solid;
}

.progress {
    background-color: var(--hue);
    border: 1px var(--first-color-alt) solid;
}

.progress-bar {
    background-color: var(--first-color-light);
    animation: progressAnimation 2s ease-in-out forwards;

}

/* Progress bar animation */
@keyframes progressAnimation {
    from {
        width: 0%;
    }
    to {
        width: var(--progress-width);
    }
}


.progress-bar[data-aos="progress-animation"] {
    width: 0%; /* Start at 0% */
}

.aos-animate .progress-bar[data-aos="progress-animation"] {
    animation: progressAnimation 5s ease-in-out forwards;
}


.stack-text {
    font-size: var(--small-font-size);
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
    line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* Styling for the stack list */
.stack-list {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    flex-wrap: wrap;

  }
  
  .stack-item {
    padding: 0.3rem 0.8rem;
    border-radius: 90px;
    background-color: var(--first-color-light); /* Use a supplementary color */
    color: var(--text-color-alt);
    font-size: 0.7rem;
    font-weight: var(--font-semi-bold);
    border: 1px solid var(--text-color);




  }

.stack-list .stack {

    margin-left: -10px;

}


/* PORTFOLIO SECTION */

img {
    border-radius: 15px 15px 0 0;
}



#plus-img span {
    font-size: var(--big-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--text-color);
    position: absolute;
    top: 100px;
    left: 45%;
    opacity: 0;
    
}

#plus-img:hover span{
    opacity: 1;
    transition: 0.5s;
    
}

#plus-img::before {
    content: "";
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    position: absolute;
}

#plus-img:hover::before {
    opacity: 0.2;
    transition: 0.5s;
}

/* MODAL IMAGE */

.modal img {
    width: 100%;
    height: auto;
    max-height: 100vh; /* 80% of viewport height */
    object-fit: contain;
}

.modal-content {
    background: var(--hue);
    border-radius: 10px;
    border-color: transparent;
}

.stacks{
    background: var(--container-color);
}

.stack-icon {
    width: 50px;
    height: 50px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    padding: 12px;
    font-size: 30px;

}

/* CONTACT */

textarea.form-contrrol {
    min-height: 100px;
    resize: vertical;
}

input[placeholder="Message"] {
    height: 100px;
}



.messaging {
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 2rem;
    border: 1px var(--first-color-light) solid;
}

.follow {
    display: flex;
    gap: 1.5rem;  /* Adds equal spacing between all items */
}

.send {
    width: 100%;
}




.social-link {
    color: var(--text-color);
    font-weight: var(--font-semi-bold);
    font-size: var(--small-font-size);
    transition: color 0.3s;

}

.social-link:hover {
    color: var(--first-color);
    text-decoration: none;
}

.contact {
    background-color: var(--container-color);
}
.contact-head {
    font-size: 2rem;
    color: var(--text-color-light);
 }

 .contact-text {
    font-size: var(--small-font-size);
    color: var(--text-color-alt);
 }

 footer {
    background-color: var(--first-color-alt);
    color: black;


 }





 /* Work Experience Timeline Styles */
.timeline-container {
    position: relative;
    padding: 20px 0;
  }
  
  /* The vertical timeline line */
  .timeline-line {
    position: absolute;
    width: 4px;
    background-color: var(--hue);
    top: 0;
    bottom: 0;
    left: 0;
    margin-left: -2px;
    border-radius: 4px;
    border: 1px solid var(--first-color-alt)
  }
  
  /* Timeline items */
  .timeline-item {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 50px;
    margin-bottom: 40px;
    justify-content: flex-start;
    text-align: left;
  }
  

  
  /* The actual content */
  .timeline-content {
    padding: 20px;
    background-color: var(--hue);
    border-radius: 8px;
    border: 1px solid var(--first-color-alt);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    margin-left: 20px;
    max-width: 60%;
    transition: all 0.3s ease;
  }
  
  .timeline-content:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  }
  
  /* Add circles on the timeline */
  .timeline-item::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: var(--first-color-light);
    border: 2px solid var(--first-color-alt);
    border-radius: 50%;
    top: 25px;
    z-index: 1;
    left: -10px;
  }
  

  
  /* Timeline content styling */
  .timeline-date {
    display: inline-block;
    padding: 5px 15px;
    background-color: var(--first-color-alt);
    color: white;
    border-radius: 20px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .timeline-title {
    margin-bottom: 5px;
    color: var(--first-color-light);
  }
  
  .timeline-company {
    margin-bottom: 15px;
    color: var(--text-color-alt);
    font-style: italic;
  }
  
  .timeline-description {
    margin-bottom: 15px;
    line-height: 1.6;
  }
  
  .timeline-tech {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 15px;
  }

  .illustration {
    margin-left: 120px;


  }
  
  .illustration img {
    width: 400px;
    height: 400px;
    object-fit: contain;
    border-radius: 30%;

  }


  /* Education Section */
.education {
    background-color: var(--hue); /* Hue background */
    color: var(--text-color); /* Text color */
  }
  
  .education-card {
    background-color: var(--hue);
    border-radius: 10px;
    border: 1px solid var(--first-color-alt);
  }
  
  .education-card .card-title {
    font-size: 1.5rem;
    font-weight: var(--font-bold);
    color: var(--first-color-light);
  }
  
  .education-card .card-subtitle {
    font-size: 1.2rem;
    font-weight: var(--font-semi-bold);
    color: var(--text-color-alt);
  }
  
  .education-card .card-text {
    font-size: var(--normal-font-size);
    line-height: 1.6;
  }


  /* Portfolio Image */

  /* Overlay effect for the folio image */
.folio-img {
    position: relative;
    overflow: hidden;
  }
  
  .folio-img::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50%; /* Adjust the height of the fade effect */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    pointer-events: none; /* Ensure the overlay doesn't interfere with interactions */
  }
  
  /* Responsive design */
  @media screen and (max-width: 768px) {
    .timeline-line {
      left: 40px;
    }
    
    .timeline-item {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
    }
    
    .timeline-item.left, .timeline-item.right {
      left: 0;
    }
    
    .timeline-item.left::after, .timeline-item.right::after {
      left: 30px;
    }

    .card{
        margin: 15px;
    }

    .stack-card {
        margin: 15px;
        margin-bottom: 0rem;
    }

    .contact-me, .messaging {
        margin: 0px;
        padding: 2rem;
    }

    .timeline-line, .timeline-item::after {
        display: none;
    }

    .timeline-item.left {
        left: 0%;
  
    }

    .timeline-item.right {
        left: 0%;
    }

    .timeline-item.left, .timeline-item.right {
        padding: 15px;
    }

  }


  